@import "../../../../../vendor/twbs/bootstrap/less/bootstrap.less";


// CONSTANTES

// Definición de colores
@verde-pista: #84ad52;

body {
  background-color: white;
  font-family: Verdana, "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

.cabecera {
  //margin: 0 auto;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 150px;
  background-color: black;
  .logo{
    img {
      padding-top: 10px;
      padding-bottom: 10px;
      display: inline-block;
      max-height: 130px;
    }
  }
  .user-widget {
    float: right;
    color: darkgrey;
    margin-top: -10px;
    a, a:visited, a:active {
      color: #00CC00;
      span {
        font-size: 2.5em;
        font-weight: bold;
        margin-left: 15px;
      }
    }
    a:hover {
      color: lightskyblue;
    }
  }
}

.contenido {
  padding: 0;
  margin: 0;
  background-color: white;
  min-height: 400px;
  .page-header {
    margin: 30px;
    border-bottom: 1px solid black;
    color: black;
  }
}

.list-new {
  float: right;
  margin-top: -40px;
  .btn {
    background-color: lightskyblue;
    color: white;
  }
  .btn:hover {
    background-color: black;
  }
}

.item-container {
  padding: 20px;
  .item-pista {
    min-height: 215px;
  }
  .item-partido {
    min-height: 270px;
  }
  .item-resultado {
    min-height: 180px;
  }
  .item {
    background-color: white;
    text-align: center;
    padding: 5px;
    position: relative;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid lightskyblue;
    .titulo {
      padding-bottom: 20px;
    }
    .etiqueta {
      font-weight: bold;
    }
    .valor {
      padding-bottom: 5px;
    }
    .botonera {
      padding-top: 10px;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-right: 10px;
      margin-bottom: 5px;
      .btn {
        background-color: lightskyblue;
        color: white;
      }
    }
  }
  .item:hover {
    background-color: lightskyblue;
    -webkit-box-shadow: #878787 5px 5px 5px;
    -moz-box-shadow: #878787 5px 5px 5px;
    box-shadow: #878787 5px 5px 5px;
    .titulo {
      color: black;
    }
    .btn {
      background-color: white;
      color: lightskyblue;
    }
    .btn:hover {
      background-color: black;
      color: white;
    }
  }
}

.entity-show {
  margin: 0 30px;
  background-color: white;
  padding: 10px;
  .row {
    padding-bottom: 10px;
  }
  .etiqueta {
    font-weight: bold;
  }
  .botonera input, a {
    width: 100%;
  }
  .td40 {
    width: 40%;
  }
  .td20 {
    width: 20%;
  }
}

.entity-show-resultado, .entity-show-partido {
  color: black;
  th, td {
    text-align: left;
  }
  .titulo {
    background-color: lightskyblue;
    color: black;
    font-weight: bold;
  }
  .win {
    background-color: #ccffcc;
    font-weight: bold;
  }
  .lose {
    background-color: #ffcccc;
  }
}

.entity-show-partido {
  padding: 0;
  margin: 0;
  .pista-col {
    min-height: 180px;
  }
  .pista {
    width: 320px;
    height: 151px;
    background: lightskyblue url('../images/pista_padel.png');
    .row {
      padding: 0;
    }
    .jugador {
      height: 75px;
      padding: 0;
      margin: 0;
      text-align: center;
      display: table;
      .jugador-data {
        display: table-cell;
        vertical-align: middle;
        .libre {
          background-color: springgreen;
        }
        .ocupado {
          background-color: orangered;
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          margin-bottom: 10px;
        }
        a, a:active, a:visited, a:hover {
          color: red;
          text-decoration: none;
          padding-top: 5px;
        }
      }
    }
    .p1j1, .p1j2 {
      padding-left: 40px;
    }
    .p2j1, .p2j2 {
      padding-right: 40px;
    }
  }
  .botonera {
    margin-top: 40px;
  }
}

.form-edit {
  margin: 0 30px;
  .botonera .btn {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
  }
}

.form-edit-resultado {
  .row-pareja {
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
  }
  .row-resultado {
    margin-bottom: 40px;
  }
  .label-center {
    text-align: center;
  }
}

.form-edit-partido .row-partido{
  padding-top: 40px;
}

.user-login, .user-register, .user-edit, .entity-show-usuario {
  .botonera {
    padding-bottom: 50px;
  }
  .btn {
    background-color: lightskyblue;
    color: white;
    width: 100%;
  }
  .btn:hover {
    background-color: black;
  }
}

.entity-show-usuario {
  .img-perfil {
    margin: 0 auto;
    width: 50%;
  }
  .perfil-info {
    padding-top: 20px;
  }
}

.list-mensaje {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 2em;
  a, a:active, a:visited {
    text-decoration: none;
    color: @verde-pista
  }
  a:hover {
    color: lightskyblue;
  }
}