<div class="col-xs-5">
    <div class="input-group">
        <span class="input-group-addon"><span class="zmdi zmdi-check-square"></span></span>
        {{ form_widget(campo1, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

{{ form_label(campo1, null, {'label_attr': {'class': 'control-label col-xs-2 label-center'}}) }}

<div class="col-xs-5">
    <div class="input-group">
        <span class="input-group-addon"><span class="zmdi zmdi-check-square"></span></span>
        {{ form_widget(campo2, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
