<div class="form-group">
    {{ form_label(campo, null, {'label_attr': {'class': 'control-label col-sm-2'}}) }}
    <div class="col-sm-10">
        <div class="input-group">
            {% if icono is defined %}
                <span class="input-group-addon"><span class="zmdi zmdi-{{ icono }}"></span></span>
            {% endif %}

            {{ form_widget(campo, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>