<script>
    function setJugadorPartido(posObj, quitar){
        if ("{{ app.user }}" == "") {
            alert("Tienes que loguearte para poder apuntarte a un partido.");
            return false;
        }
        posId = posObj.parentNode.id;
        $.post('{{ path('ajax_usermatch') }}',
            { partido_id: {{ partido.id }}, posicion: posId, quitar: quitar },
            function(response){
                //alert(response.mensaje);
                if(response.success){
                    if (quitar) {
                        $("#"+posId).html('<a class="join" href="#" onclick="setJugadorPartido(this, false);">¡Apúntate!</a>');
                        $('#img-'+posId).attr('class', 'libre');
                    } else {
                        $("#"+posId).html('<a class="quitar" href="#" onclick="setJugadorPartido(this, true);">X </a>' + response.jugador);
                        $('#img-'+posId).attr('class', 'ocupado');
                    }
                    $('#img-'+posId).removeClass("flip animated").addClass("flip animated").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                        $(this).removeClass("flip animated");
                    });
                }
            }, "json");
    }

    $(document).ready(function() {
        $('button').on('click', function(){setJugadorPartido();});
    });
</script>
{% endblock %}
